<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.totalmadownage.nethak"
      android:versionName="1.6.9" android:versionCode="25">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <!-- android:debuggable="true"  -->
        
                <activity android:name=".nethak"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Splash"
                  android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Dungeoneers"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity android:name=".Website"
		android:label="Netrunners Online Help"
		android:screenOrientation="landscape"
		/>
		
		<activity android:name=".About"
      android:label="@string/about_title"
      android:screenOrientation="landscape"
      android:theme="@android:style/Theme.Dialog" >
		</activity>
		
				<activity android:name=".Gsurvival"
      android:label="@string/survival_title"
      android:screenOrientation="landscape"
      android:theme="@android:style/Theme.Dialog" >
		</activity>

				<activity android:name=".Gtalk"
      android:label="@string/talk_title"
      android:screenOrientation="landscape"
      android:theme="@android:style/Theme.Dialog" >
		</activity>		
		
				<activity android:name=".Gtravel"
      android:label="@string/travel_title"
      android:screenOrientation="landscape"
      android:theme="@android:style/Theme.Dialog" >
		</activity>		
		
		<activity android:name=".Community"
		android:label="Netrunners Community"
		android:screenOrientation="landscape"
		/>
		
		<activity android:name=".Newbieguide"
		android:label="Netrunners Newbie Guide"
		android:screenOrientation="landscape"
		/>
		
		<activity android:name=".Prefs"
      	android:label="Settings"
      	android:screenOrientation="landscape" >
		</activity>
		
		<activity android:name=".Notepadv3"
		android:screenOrientation="landscape"
		android:theme="@android:style/Theme.Dialog"
		/>
		
		<activity android:name=".NoteEdit"
		android:screenOrientation="landscape"
		/>
        
    </application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 